[database]
url = "postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

[auth]
enabled = true

[auth.users]
benjamin = "pbkdf2_sha256$260000$SEL_A_REMPLACER$HASH_A_REMPLACER"
compagne = "pbkdf2_sha256$260000$SEL_A_REMPLACER$HASH_A_REMPLACER"
